body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;

    margin: 0;
    padding: 0;
    padding: 1em 0;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

input, button{
    font-size: 1.8em;
    border-radius: 10px;
}

input{
    padding: 10px;
    
    outline-color: rgb(3, 10, 52);
    color: rgb(255, 255, 255);
    width: 90%;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.286);

}
button{
    text-align: center;

    padding: 10px 15px;
    width: 50%; 

    box-shadow: 8px 8px 15px rgba(0,0,0,0.5);
    transition: transform .2s;
    cursor: pointer;
}


button:active{
    transform: translateY(5px);
}


.container{
    display: flex;
    flex-direction: row;

    padding: 0 5px;
    width: 90%;
    height: 90%;

    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(245, 245, 245, 0.18);
    background-color: rgba(77, 76, 76, 0.500);
}

.container #left-side,
.container #right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 50%;
}


.container .item{ 
    margin: 10px auto;
}

.container .item-tanggal,
.container .item-waktu,
.container .item-reset{
    width: auto;
    margin: 0;
    font-size: 1.5em;

    background-color: rgb(3, 10, 52);
}


.container .item-tanggal,
.container .item-waktu{
    color: white;
    font-style: italic;
}

.container .item-reset{
    color: red;
    font-weight: bold;
}
